apiVersion: edgecore.config.kubeedge.io/v1alpha1
database:
  aliasName: default
  dataSource: /var/lib/kubeedge/edgecore.db
  driverName: sqlite3
kind: EdgeCore
modules:
  dbTest:
    enable: false
  deviceTwin:
    enable: true
  edgeHub:
    enable: true
    heartbeat: 15
    httpServer: https://${CLOUDCORE_ADDRESS}:10002
    projectID: e632aba927ea4ac2b575ec1603d56f10
    quic:
      enable: false
    rotateCertificates: true
    tlsCaFile: /etc/kubeedge/certs/rootCa.pem
    tlsCertFile: /etc/kubeedge/certs/node.pem
    tlsPrivateKeyFile: /etc/kubeedge/certs/node.key
    websocket:
      enable: true
      handshakeTimeout: 30
      readDeadline: 15
      server: ${CLOUDCORE_ADDRESS}:10000
      writeDeadline: 15
  edgeStream:
    enable: true
    handshakeTimeout: 30
    readDeadline: 15
    server: ${CLOUDCORE_ADDRESS}:10004
    tlsTunnelCAFile: /etc/kubeedge/certs/rootCa.pem
    tlsTunnelCertFile: /etc/kubeedge/certs/node.pem
    tlsTunnelPrivateKeyFile: /etc/kubeedge/certs/node.key
    writeDeadline: 15
  edged:
    enable: true
    hostnameOverride: ${NODE_NAME}
    nodeIP: ${NODE_IP}
    taints:
      - key: edgefarm.applications
        effect: NoExecute
    cgroupDriver: cgroupfs
    cgroupRoot: ""
    cgroupsPerQOS: true
    clusterDNS: ""
    clusterDomain: ""
    cniBinDir: /opt/cni/bin
    cniCacheDirs: /var/lib/cni/cache
    cniConfDir: /etc/cni/net.d
    concurrentConsumers: 5
    devicePluginEnabled: false
    dockerAddress: unix:///var/run/docker.sock
    edgedMemoryCapacity: 7852396000
    enableMetrics: true
    gpuPluginEnabled: false
    imageGCHighThreshold: 80
    imageGCLowThreshold: 40
    imagePullProgressDeadline: 60
    maximumDeadContainersPerPod: 1
    networkPluginMTU: 1500
    nodeStatusUpdateFrequency: 10
    podSandboxImage: kubeedge/pause:3.1
    registerNode: true
    registerNodeNamespace: default
    remoteImageEndpoint: unix:///var/run/dockershim.sock
    remoteRuntimeEndpoint: unix:///var/run/dockershim.sock
    runtimeRequestTimeout: 2
    runtimeType: docker
    volumeStatsAggPeriod: 60000000000
  eventBus:
    enable: true
    eventBusTLS:
      enable: false
    mqttMode: 0
    mqttQOS: 0
    mqttRetain: false
    mqttServerInternal: tcp://127.0.0.1:1884
    mqttSessionQueueSize: 100
  metaManager:
    enable: true
    contextSendGroup: hub
    contextSendModule: websocket
    metaServer:
      debug: false
      enable: true
    podStatusSyncInterval: 60
    remoteQueryTimeout: 60
  serviceBus:
    enable: false
